.pageHome {
  display: flex;
  position: relative;
  height: 100vh;
  background: linear-gradient(to top, #44008b, #000761);

}

.pageHome__text {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 55px;
  max-width: 650px;
  @media (max-width: 550px) {
    gap: 25px;
    font-size: 30px;
    flex-direction: column;
  }
}
.pageHome img {
  height: 150px;
}