.footer {
  height: 80px;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  transparent;
  @media (max-width: 550px) {
    height: 60px;
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(214, 178, 255);
    transition: color 0.3s;
    padding: 26px 20px;
    border: 2px  #ffffff;
    border-radius: 5px;
    scroll-behavior: smooth;
    @media (max-width: 550px) {
      font-size: 20px;
      padding: 16px 12px;
    }
  }

  a:hover {
    background-color: rgb(27, 27, 27);
    color: #ffffff;
  }
}
  
  
  
  
  
  