.pageSkills {
  padding: 25px;
  height: 100vh;
  background: linear-gradient(to top, #44008b, #000761);
  color: white;
  display: flex;
  flex-direction: column;
  &__titre {
    display: flex;
    justify-content: center;
  }
  &__logosContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
  &__logos img {
    height: 150px;
  }
}

.pageSkills__formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}