@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background: linear-gradient(to top, #44008b, #000761);
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: rgb(214, 214, 214);
}

a {
  text-decoration: none;
}

/* a:visited {
  color: rgb(214, 214, 214);
} */
