.pageProjets {
  height: 100vh;
  background: linear-gradient(to top, #44008b, #000761);
  display: flex;
  flex-direction: column;
  color: white;
  gap: 80px;
  }

.pageProjets__text {
  text-align: center;
  margin-top: 60px;
}

.pageProjets__carousel {
  display: flex;
}
